<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602197336868-64543h4qgq0nqn35mh4mt9sk0dghhtuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602197336868-64543h4qgq0nqn35mh4mt9sk0dghhtuf</string>
	<key>API_KEY</key>
	<string>AIzaSyAYoUmDLN2nOptm2NBlA2pOKLPeCighh68</string>
	<key>GCM_SENDER_ID</key>
	<string>602197336868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nhssReignForestCafe</string>
	<key>PROJECT_ID</key>
	<string>reignforestcafe</string>
	<key>STORAGE_BUCKET</key>
	<string>reignforestcafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602197336868:ios:1046dd7eadcec9317989b1</string>
</dict>
</plist>